<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
		<property name="hibernate.connection.username">kesav</property>
		<property name="hibernate.connection.password">kesav</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- 
		<mapping class="com.kesav.UserDetails" />
		<mapping class="com.kesav.Vehicle" />
		<mapping class="com.kesav.Computer" />
		<mapping class="com.kesav.Shoe" />
		<mapping class="com.kesav.Dress" />
		<mapping class="com.kesav.Shirt" />
		<mapping class="com.kesav.Pant" />
		 -->
		
		<mapping class="com.kesav.Vehicle2" />		
		<mapping class="com.kesav.FourWheeler" />		
		<mapping class="com.kesav.TwoWheeler" />
	</session-factory>
</hibernate-configuration>
